/*
The plugin code, syllab-backup, limited to this Wordpress public repository: https://plugins.trac.wordpress.org/browser/syllab-backup/ is a fork of DavidAnderson (2015) source code (Version 1.11.3) [Source code]. https://github.com/wp-plugins/updraftplus. 
The other contributors and developers of the [Source code] cited here (Version 1.11.3):
https://profiles.wordpress.org/backup-with-updraftplus/,  https://profiles.wordpress.org/dnutbourne/, https://profiles.wordpress.org/snightingale/, https://profiles.wordpress.org/aporter/, https://profiles.wordpress.org/bcrodua/

*/

/* CSS for adverts */

.syllab_notice_container {
	height: auto;
	overflow: hidden;
}

.syllab_review_notice_container {
	padding: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.syllab_advert_button_container {
	margin-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.syllab_advert_button_container .dashicons {
	margin-left: 10px;
}

.syllab_advert_content_left {
	float: none;
	width: 65px;
}

.syllab_advert_content_left_extra {
	float: none;
	width: 100px;
	padding-right: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.syllab_advert_content_right {
	float: none;
	width: auto;
	overflow: hidden;
}

.syllab_advert_bottom {
	margin: 10px 0;
	padding: 10px;
	font-size: 140%;
	background-color: white;
	border-color: #E6DB55;
	border: 1px solid;
	border-radius: 4px;
}

.syllab-advert-dismiss {
	float: right;
	font-size: 13px;
	font-weight: normal;
}

h3.syllab_advert_heading {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

h4.syllab_advert_heading {
	margin-top: 2px !important;
	margin-bottom: 3px !important;
}

.syllab_center_content {
	text-align: center;
	margin-bottom: 5px;
}

.syllab_notice_link {
	padding-left: 5px;
}

.syllab_text_center {
	text-align: center;
}

@media screen and (min-width: 560px) {

	.syllab_advert_content_left, .syllab_advert_content_left_extra {
		float: left;
	}

}
